.header {
    -fx-background-color: linear-gradient(to top, #cf431c, rgb(3, 2, 15));
}

.nav-form{
    -fx-background-color: linear-gradient(to bottom left,#cf431c, rgb(3, 2, 15));

	
}

.nav-btn{
	-fx-background-color: transparent;
	-fx-border-color: black;
	-fx-border-width: 0.6px;
	-fx-cursor: hand;
	-fx-font-size: 14.0px;
}

.nav-btn:hover{
	-fx-background-color: #fff;
	-fx-text-fill: #000;
}

.logout{
	-fx-background-color: #106abf;
	-fx-padding: 5.0px;
	-fx-cursor: hand;
	-fx-background-radius: 50.0px;
}

.shadow-drop{
	-fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.5), 5.0,0.0,0.0,0.0);
}

.radius{
	-fx-background-radius: 8.0px;
}

.transparent{
	-fx-background-color: transparent;
}