.root {
  -fx-background-image: url('./image/DarkBackground.png');
  -fx-background-size: cover;
}

.nav-btn{
  -fx-background-color: transparent;
  -fx-border-color: #fff;
  -fx-border-width: 0.4px;
  -fx-cursor: hand;
  -fx-font-size: 14px;
}

.nav-btn:hover{
  -fx-border-color: #000;
  -fx-background-color: #fff;
  -fx-text-fill: #ff7f00;
}


