/*
.button {
    -fx-background-color: rgb(246, 239, 239);
}
*/
.gradient {
    -fx-background-color: linear-gradient(to bottom right,#cf431c,rgb(3, 2, 15));
    
}

.white-from{
    -fx-background-color: #fff;
}

.root {
    -fx-background-image: url('./image/DarkBackground.png');
    -fx-background-size: cover;
  }
  
    